// Global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Abstracts
@import 'abstracts/variables';

// Components
@import 'components/articleContainer';
@import 'components/imageContainer';

// Layout
@import 'layout/index';
@import 'layout/footer';
@import 'layout/navbar';
@import 'layout/page';
