// Dimensions
$navbarHeight: 3rem;
$footerHeight: 3rem;
$radius: 0.5rem;

// Colors
$defaultDark: #242424;
$fontColor: rgba(255, 255, 255, 0.87);

// Font
$fontSize: 16px;
$lineHeight: 24px;
$fontWeight: 400;

// Shadows
$shadowColor: #060606;
$shadowOffset: 0.125rem;
