.article-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 1.5rem;
  max-width: 62.5%;
  width: 100vw;

  @media screen and (max-width: 1500px) {
    min-width: 75%;
  }

  @media screen and (max-width: 600px) {
    min-width: 95%;
  }

  .article-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
  }

  hr {
    width: 100%;
    margin: 0.35rem 0 0.75rem 0;
    border: solid 0.03125rem $fontColor;
  }

  .article-content {
    text-align: start;
    text-indent: 2.5rem;
  }
}
