#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 3rem;
  background: $defaultDark;
  box-shadow: $shadowColor 0 $shadowOffset $shadowOffset;

  button {
    position: fixed;
    top: 0;
    right: 0;
    width: 3rem;
    height: $navbarHeight;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    padding: 0.6em 1.2em;
    cursor: pointer;

    span {
      margin: 0.15rem 0;
      height: 0.25rem;
      width: 1.75rem;
      background: $fontColor;
      border-radius: 9px;
    }
  }

  .blur-div {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
  }

  .navbar-menu {
    position: fixed;
    padding: 0 0rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    z-index: 1;
    border-radius: $radius;
    box-shadow: $shadowColor $shadowOffset $shadowOffset $shadowOffset;

    .nav-link {
      width: 100%;
      height: 100%;
      color: white;
      padding: 1.5rem 2rem;
      font-size: 2rem;
      text-decoration: none;
      background: none;
      border-radius: $radius;
    }

    .nav-link:hover {
      background: #121212;
    }
  }

  .navbar-menu::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    background: black;
    opacity: 45%;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: $radius;
  }

  .hide {
    display: none;
  }
}
